.resultado {
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: 600;
    font-size: 22px;
    padding: 20px;
    border-radius: 5px;
}